:root {
  color: black;
  --highlightColor: rgba(104, 134, 170, .4);
  --selectionColor: rgba(0, 0, 0, .1);
  --editorColor: rgb(0, 0, 0);
  --editorColor80: rgba(0, 0, 0, .8);
  --editorColor60: rgba(0, 0, 0, .6);
  --editorColor50: rgba(0, 0, 0, .5);
  --editorColor40: rgba(0, 0, 0, .4);
  --editorColor30: rgba(0, 0, 0, .3);
  --editorColor10: rgba(0, 0, 0, .1);
  --editorColor04: rgba(0, 0, 0, .04);
  --editorBgColor: #f7f7f7;
  --deleteColor: #ff6969;
  --iconColor: rgba(150, 150, 150, .8);
  --codeBgColor: #d8d8d869;
  --codeBlockBgColor: rgba(104, 134, 170, .05);
  --footnoteBgColor: rgba(0, 0, 0, .03);
  --inputBgColor: rgba(0, 0, 0, .06);
  --focusColor: var(--themeColor);
  --tableBorderColor: #e5e5e5;
  --itemBgColor: #f8f8f8;
  --floatBgColor: #f8f8f8;
  --floatHoverColor: #f0f0f0;
  --floatBorderColor: #dcdcdc;
  --maskColor: rgba(232, 232, 232, .8);
  --editorAreaWidth: 750px;
  --floatShadow: 0 8px 12px 0 rgba(0, 0, 0, .12);
  --scrollbarThumb: #8a8a8a;
  --scrollbarTrack: #f9f9f9
}