/* basic */
.cm-s-one-dark {
    font-family: 'Microsoft YaHei', Consolas, 'Courier New', monospace;
    font-weight: 350;
    font-size: 16px;
    color: #50a14f;
    background-color: transparent;
  }
  .cm-s-one-dark .CodeMirror-selected {background-color: var(--selectionColor);}
  .cm-s-one-dark .CodeMirror-gutter,
  .cm-s-one-dark .CodeMirror-gutters {
    border: none;
    padding-right: 8px;
    background-color: transparent;
  }
  .cm-s-one-dark .CodeMirror-linenumber,
  .cm-s-one-dark .CodeMirror-linenumbers {
    color: var(--editorColor30) !important;
    opacity: .7;
    background-color: transparent;
  }
  .cm-s-one-dark .CodeMirror-lines {
    color: #383a42 !important;
    background-color: transparent;
  }
  .cm-s-one-dark .CodeMirror-cursor {border-left: 1px solid black !important;}
  /* addon: edit/machingbrackets.js & addon: edit/matchtags.js */
  .cm-s-one-dark .CodeMirror-matchingbracket,
  .cm-s-one-dark .CodeMirror-matchingtag {
    border-bottom: 2px solid #56b6c2;
    color: #abb2bf !important;
    background-color: transparent;
  }
  .cm-s-one-dark .CodeMirror-nonmatchingbracket {
    border-bottom: 2px solid #e06c75;
    color: #383a42 !important;
    background-color: transparent;
  }
  /* addon: fold/foldgutter.js */
  .cm-s-one-dark .CodeMirror-foldmarker,
  .cm-s-one-dark .CodeMirror-foldgutter,
  .cm-s-one-dark .CodeMirror-foldgutter-open,
  .cm-s-one-dark .CodeMirror-foldgutter-folded {
    border: none;
    text-shadow: none;
    color: #5c6370 !important;
    background-color: transparent;
  }
  /* addon: selection/active-line.js */
  .cm-s-one-dark .CodeMirror-activeline-background {background-color: rgba(153, 187, 255, 0.04);}
  /* basic syntax */
  .cm-s-one-dark .cm-header {color: #e06c75;}
  .cm-s-one-dark .cm-quote {color: #9d9d9f;font-style: italic;}
  .cm-s-one-dark .cm-negative {color: #e06c75;}
  .cm-s-one-dark .cm-positive {color: #e06c75;}
  .cm-s-one-dark .cm-strong {color: #e45649;font-weight: bold;}
  .cm-s-one-dark .cm-header .cm-strong {color: #e45649;font-weight: bold;}
  .cm-s-one-dark .cm-em {color: #c678dd;font-style: italic;}
  .cm-s-one-dark .cm-header .cm-em {color: #c678dd;font-style: italic;}
  .cm-s-one-dark .cm-tag {color: #e45649;}
  .cm-s-one-dark .cm-attribute {color: #986801;}
  .cm-s-one-dark .cm-link {color: #50a14f;border-bottom: solid 1px #50a14f;}
  .cm-s-one-dark .cm-builtin {color: #e06c75;}
  .cm-s-one-dark .cm-keyword {color: #0184bc;}
  .cm-s-one-dark .cm-def {color: #e5c07b;} /* original:  #d19a66; */
  .cm-s-one-dark .cm-atom {color: #0184bc;}
  .cm-s-one-dark .cm-number {color: #986801;}
  .cm-s-one-dark .cm-property {color: #e45649;} /* original: #abb2bf */
  .cm-s-one-dark .cm-qualifier {color: #e45649;}
  .cm-s-one-dark .cm-variable {color: #e06c75;}
  .cm-s-one-dark .cm-string {color: #50a14f;}
  .cm-s-one-dark .cm-punctuation {color: #383a42;}
  .cm-s-one-dark .cm-operator {color: #56b6c2;} /* original: #abb2bf */
  .cm-s-one-dark .cm-meta {color: #808080;}
  .cm-s-one-dark .cm-bracket {color: #383a42;}
  .cm-s-one-dark .cm-comment {color: #9d9d9f;font-style: italic;}
  .cm-s-one-dark .cm-error {color: #e06c75;}
  /* css syntax corrections */
  .cm-s-one-dark .cm-m-css.cm-variable {color: #828997;}
  .cm-s-one-dark .cm-m-css.cm-property  {color: #383a42;}
  .cm-s-one-dark .cm-m-css.cm-atom  {color: #0184bc;}
  .cm-s-one-dark .cm-m-css.cm-builtin {color: #56b6c2;}
  /* lua syntax corrections */
  .cm-s-one-dark .cm-m-lua.cm-variable {color: #56b6c2;}