:root {
    color: white;
    --highlightColor: rgba(102, 177, 255, .6);
    --selectionColor: rgba(102, 177, 255, .3);
    --editorColor: rgb(255, 255, 255);
    --editorColor80: rgba(255, 255, 255, .8);
    --editorColor60: rgba(255, 255, 255, .6);
    --editorColor50: rgba(255, 255, 255, .5);
    --editorColor40: rgba(255, 255, 255, .4);
    --editorColor30: rgba(255, 255, 255, .3);
    --editorColor10: rgba(255, 255, 255, .1);
    --editorColor04: rgba(255, 255, 255, .04);
    --editorBgColor: #282828;
    --deleteColor: #409eff;
    --iconColor: rgba(255, 255, 255, .56);
    --codeBgColor: #FFFFFF0D;
    --codeBlockBgColor: #FFFFFF0D;
    --footnoteBgColor: rgba(66, 67, 68, .3);
    --inputBgColor: #2f3336;
    --focusColor: var(--themeColor);
    --tableBorderColor: #363839;
    --itemBgColor: #2d2d2d;
    --floatBgColor: #2d2d2d;
    --floatHoverColor: #FFFFFF0F;
    --floatBorderColor: #00000030;
    --floatShadow: rgba(0, 0, 0, 0.2);
    --maskColor: rgba(0, 0, 0, .7);
    --editorAreaWidth: 750px;
    --floatShadow: 0 8px 12px 0 rgba(0, 0, 0, .2);
}