<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Typedown.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Typedown.Properties.Settings>
            <setting name="StartupIsMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartupLeft" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="StartupTop" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="StartupWidth" serializeAs="String">
                <value>1100</value>
            </setting>
            <setting name="StartupHeight" serializeAs="String">
                <value>680</value>
            </setting>
            <setting name="StartupTheme" serializeAs="String">
                <value>0</value>
            </setting>
        </Typedown.Properties.Settings>
    </userSettings>
</configuration>