.TrackVertical {
    position: absolute;
    top: 16px;
    right: 0;
    bottom: 16px;
    width: 12px !important;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 6px;
    margin-right: 2px;

    &>div {
        width: 3px !important;
        border-radius: 1.5px !important;
        left: 7px !important;
        transition: width 200ms, left 200ms, border-radius 200ms;
        transition-delay: 1s
    }

    &:hover,
    &:active {
        &>div {
            width: 6px !important;
            left: 3px !important;
            right: 3px !important;
            border-radius: 3px !important;
            transition-delay: 0s
        }

        &::before,
        &::after {
            opacity: 1;
            transition-delay: 0s
        }
    }

    &::before,
    &::after {
        position: absolute;
        font-family: 'Segoe Fluent Icons', 'Segoe MDL2 Assets';
        font-size: 8px;
        color: var(--scrollbarThumb);
        display: flex;
        justify-content: center;
        left: 0;
        right: 0;
        opacity: 0;
        transition: opacity 200ms;
        transition-delay: 1s
    }

    &::before {
        top: -14px;
        bottom: -13px;
        content: '\eddb';
        background-color: var(--scrollbarTrack);
        border-radius: 6px;
    }

    &::after {
        bottom: -17px;
        height: 16px;
        content: '\eddc';
    }
}

.ThumbVertical {
    position: relative;
    display: block;
    cursor: default !important;
    background-color: var(--scrollbarThumb);
}

.TrackHorizontal {
    position: absolute;
    height: 12px !important;
    left: 16px;
    right: 16px;
    bottom: 0;
    padding-left: 0;
    padding-right: 0;
    border-radius: 6px;
    margin-bottom: 2px;

    &>div {
        height: 3px !important;
        border-radius: 1.5px !important;
        top: 7px !important;
        transition: height 200ms, top 200ms, border-radius 200ms;
        transition-delay: 1s;
    }

    &:hover,
    &:active {
        &>div {
            position: relative;
            display: block;
            height: 6px !important;
            top: 3.5px !important;
            cursor: pointer;
            border-radius: 3px !important;
            background-color: var(--scrollbarThumb);
            transition-delay: 0s;
        }

        &::before,
        &::after {
            opacity: 1;
            transition-delay: 0s;
        }
    }

    &::before,
    &::after {
        position: absolute;
        font-family: 'Segoe Fluent Icons', 'Segoe MDL2 Assets';
        font-size: 8px;
        color: var(--scrollbarThumb);
        bottom: 0;
        top: 0;
        opacity: 0;
        display: flex;
        flex-direction: column;
        transition: opacity 200ms;
        transition-delay: 1s;
    }

    &::before {
        left: -14px;
        right: -14px;
        padding-left: 3px;
        content: '\edd9';
        background-color: var(--scrollbarTrack);
        border-radius: 6px;
        justify-content: center;
    }

    &::after {
        width: 16px;
        right: -19px;
        content: '\edda';
    }
}

.ThumbHorizontal {
    position: relative;
    display: block;
    cursor: default !important;
    background-color: var(--scrollbarThumb);
}