.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

body {
    margin: 0;
    min-width: 400px;
}

:root::-webkit-scrollbar {
    width: 0;
    display: none;
}

.CodeMirror-sizer {
    margin-bottom: 64px !important;
}
